@import "../../../scss/index.scss";

.alinear__guardar {
  &__button {
    margin-top: 20px;
    width: 100%;
    height: 42px;
    font-size: 0em +22px / $defaultFontSize;
    color: $font-light;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      color: $font-light;
      background-color: $primary-color;
      border: 0;
    }
  }
  //width: 500;
  //margin: 0;
}

.centrar {
  margin-top: 20px;
}

.centrarFecha{
  margin-top: 10px;
  margin-left: 50px;
}

.formulario {
  margin-left: 200px;
}
